html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.header {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    gap: 2em;
}
form {
    min-width: 400px;
}
table {
    min-width: 400px;
}